;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "1.0.6"]
                [reagent "1.1.1"]
                [cljs-http "0.1.46"]
                [venantius/accountant "0.2.5"]
                [org.clojure/core.match "1.0.0"]
                [com.cemerick/url "0.1.1"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :source-map true
        :source-map-include-sources-content true

        :modules
        {:main
         {:entries [choschtbar-planner.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load choschtbar-planner.core/stop
         ;; after live-reloading finishes call this function
         :after-load choschtbar-planner.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8700
         :preloads     [devtools.preload]}

        :closure-defines {choschtbar-planner.auth/REDIRECT-URI #shadow/env "REDIRECT_URI"}
        }}}
