@import '../../node_modules/react-big-calendar/lib/css/react-big-calendar.css';

*, *::after, *::before {
    box-sizing: border-box;
}


.rbc-toolbar > :first-child :nth-child(2)::after {
    content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" /></svg>');
    display: block;
    width: 16px;
}
.rbc-toolbar > :first-child :nth-child(3)::after {
    content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" /></svg>');
    display: block;
    width: 16px;   
}

